.quizz--answers .card:hover {
  cursor: pointer;
  background-color: oklch(var(--s));
  color: oklch(var(--sc));
}

.scroll-container {
  max-height: 400px; /* Vous pouvez ajuster la hauteur selon vos besoins */
  overflow-y: scroll;
}
